<div class="card mbe-2">
  <div class="flex items-center justify-between">
    <div class="flex items-center gap-1">
      <div class="avatar" style="margin-right: 10px;">
        <%= image_tag user_avatar(comment.user), alt: "CN" %>
      </div>
      <div class="flex flex-col">
        <span class="text-sm"><%= user_nick(comment.user) %></span>
        <span class="text-sm text-subtle"><%= time_ago_in_words(comment.created_at) %> <%= t("text.ago") %></span>
      </div>
    </div>
    <% if author_of?(comment) %>
      <%= button_to t("button.delete"), post_comment_path(comment.post, comment), 
                                        method: :delete, 
                                        data: { turbo_confirm: t("text.are_you_sure") }, 
                                        class: "btn btn--negative" %>
    <% end %>
  </div>
  <div>
    <p class="text-sm"><%= comment.body %></p>
  </div>
</div>