<div class="hide@md" data-controller="dialog">
  <button class="btn btn--icon" data-action="dialog#showModal">
    <%= image_tag "menu.svg", size: 20, aria: { hidden: true } %>
    <span class="sr-only">Open menu</span>
  </button>

  <dialog class="sheet sheet--left" data-dialog-target="menu" data-action="click->dialog#closeOnClickOutside">
    <button class="btn btn--plain sheet__close" data-action="click->dialog#close">
      <%= image_tag "x.svg", size: 16, aria: { hidden: true } %>
      <span class="sr-only">Close</span>
    </button>
    <div class="sheet__content">
      <div class="flex flex-col items-center gap-half" style="margin-top: 2rem;">
        <% if user_signed_in? %>
          <%= link_to t('button.logout'), destroy_user_session_path, class: 'btn btn-wide btn-lg btn--primary', data: { turbo_method: :delete } %>
        <% else %>
          <%= link_to t('button.login'), new_user_session_path, class: "btn btn-wide btn-lg btn--primary" %>
          <%= link_to t('button.sign_up'), new_user_registration_path, class: "btn btn--secondary btn-lg btn-wide"%>
        <% end %>
        <%= link_to "Português", "#{request.path}?locale=pt-BR", class: 'btn btn--positive btn-lg btn-wide' %>
        <%= link_to "English", "#{request.path}?locale=en", class: 'btn btn--blue btn-lg btn-wide' %>
      </div>
    </div>
  </dialog>
</div>