<%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "card flex flex-col gap") do |form| %>
  <div class="flex flex-col gap-half">
    <h3 class="text-2xl font-semibold leading-none"><%= t('button.login') %></h3>
    <p class="text-sm text-subtle"><%= t('text.enter_email') %></p>
  </div>

  <div class="flex flex-col gap mb-2">
    <div class="flex flex-col gap-half">
      <%= form.label :email, class: "text-sm font-medium leading-none" %>
      <%= form.email_field :email, placeholder: "m@example.com", class: "input" %>
    </div>

    <div class="flex flex-col gap-half">
      <%= form.label t('text.password'), class: "text-sm font-medium leading-none" %>
      <%= form.password_field :password, class: "input" %>
    </div>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= form.check_box :remember_me %>
      <%= form.label t('button.remember_me') %>
    </div>
  <% end %>

  <div class="flex items-center mb-2">
    <%= form.submit t('button.login'), class: "btn btn--primary i-full" %>
  </div>
  
  <%= render "devise/shared/links" %>
<% end %>

