<div class="sidebar-layout">
  <header id="header" class="items-center justify-between">
    <%= render "shared/mobile_menu" %>
    <%= link_to "Simple Blog", root_path, class: 'text-3xl text-xl--responsive' %>
    <%= link_to t('button.create_post'), new_post_path, class: 'btn btn--blue btn-lg ', style: "margin-right: 10%" if user_signed_in? %>
  </header>

  <aside id="sidebar">
    <div class="flex flex-col items-center">
      <% if user_signed_in? %>
        <div class="avatar avatar-lg mbe-2">
          <%= image_tag avatar_url(current_user) %>
        </div>
        <span class="font-medium mbe-2"><%= current_user.nickname %></span>

        <div class="relative" data-controller="popover" data-popover-flip-class="popover--flip">
          <button id="menu_button" class="btn btn--blue btn-wide btn-lg mbe-2" data-popover-target="button" data-action="popover#toggle" aria-haspopup="menu" aria-controls="menu">
            <%= t('text.settings') %>
          </button>
          <dialog class="popover" style="--popover-size: 12.5rem; margin-top: -2px" data-controller="menu" data-popover-target="menu" data-action="click@document->popover#closeOnClickOutside keydown.esc->popover#close close->menu#reset keydown.up->menu#prev keydown.down->menu#next">
            <div id="menu" class="menu" role="menu" aria-labelledby="menu_button">
              <div class="menu__header text-2xl"><%= t('text.account') %></div>
              <hr class="menu__separator" role="separator"/>
              <div class="menu__group" role="group">
                <%= link_to t('text.edit_profile'), edit_user_registration_path, class: 'btn menu__item', role: "menuitem" %>
                <%= link_to t('button.logout'), destroy_user_session_path, class: 'btn menu__item', data: { turbo_method: :delete }, role: "menuitem" %>
              </div>
            </div>
            <div id="menu" class="menu" role="menu" aria-labelledby="menu_button">
              <div class="menu__header text-2xl"><%= t('text.language') %></div>
              <hr class="menu__separator" role="separator"/>
              <div class="menu__group" role="group">
                <%= link_to "Português", "#{request.path}?locale=pt-BR", class: 'btn menu__item', role: "menuitem" %>
                <%= link_to "English", "#{request.path}?locale=en", class: 'btn menu__item', role: "menuitem" %>
              </div>
            </div>
          </dialog>
        </div>
      <% else %>
        <%= link_to t('button.login'), new_user_session_path, class: 'btn btn--blue btn-lg btn-wide mbe-5' %>
        <%= link_to t('button.sign_up'), new_user_registration_path, class: 'btn btn--primary btn-lg btn-wide mbe-5' %>
      <% end %>
      <%= yield :primary_content %>
    </div>
  </aside>

  <main id="main">
    <%= yield :secondary_content %>
  </main>
</div>
